#{$all-buttons} {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: $base-line-height;
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: $base-font-color;

  &:hover,
  &:focus {
    color: $action-color;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
